/* Add your styles here */
.navbar {
    background: hsl(0, 0%, 100%);
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }

.navbar-brand {
    font-size: 25px;
    font-family: Calibri;
    font-weight: bold;
    color: rgb(202, 120, 120);
    background: rgb(255, 255, 255);
}
.navbar li a {
    display: block;
    color: rgb(202, 120, 120);
  }

.container {
    display: block;
    background-color: white;
}

.container h1 {
    color:  rgb(202, 120, 120);
    font-family: Calibri;
    font-weight: bold;
    margin-left: 10px;
}

.container h2 {
    color:  rgb(202, 120, 120);
    padding-top: 30px;
    padding-left: 20px;
    font-family: Calibri;
    font-weight: bold;
}
.container img {
    display: inline;
    margin: 30px 30px;
}
.container p {
    display: block;
    padding: 10px;
    line-height: 2.2;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(202, 120, 120);
}

.col-lg-8 {
    border-right: solid rgb(202, 120, 120);
    border-right-width: 40px;
    padding: 40px;
}

.col-md-6 {
    margin-left: -10px;
}
.container h3 {
    color:  rgb(202, 120, 120);
    text-align: center;
    font-family: Calibri;
    font-weight: bold;
}

#maintable {  
    width: 100%;
    border-collapse: collapse; 
    border-spacing: 40px;
    padding: 50px;
}
#maintable td, th { border: 1px solid #CCC; 
text-align:  center;}  


#maintable th {  
    background: #F3F3F3;
    font-weight: bold;
}

#maintable td {  
    background: #FAFAFA; 
    text-align: center;
}

.boxx {
    border: solid rgb(202, 120, 120);

}

@media (max-width: 800px)
{
    .col-lg-8 {
        border-bottom: solid rgb(202, 120, 120);
        border-bottom-width: 40px;
        border-right: 20px;
    }
}
